<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<app-toolbar>
  <app-toolbar-item>
    <select>
      <option>home</option>
      <option>about</option>
      <option>contact</option>
    </select>
  </app-toolbar-item>
  <app-toolbar-item>
    <button (click)="buttonClick('first button')">First Button</button>
  </app-toolbar-item>
  <app-toolbar-item>
      <button (click)="buttonClick('second button')">Second Button</button>
    </app-toolbar-item>
</app-toolbar>
